# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
env/

# Environment
.env
.env.*

# Firebase
firebase-adminsdk.json
serviceAccountKey.json
*.json

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db